body {
    background-color: ghostwhite;
}

#container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    margin: 100px auto auto auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    line-height: 150px;
    font-size: 5em;
    background-color: #0d0b69;
}

.squares {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-color: #a7bfca;
}

.squares:hover {
    border: 2px solid grey;
    background-color:  #cbe7f5;
}

#newGame {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 0 0;
    text-align: center;
    width: 100px;
}


#outer {
    width: 100%;
}

.inputForm {
    position: relative;
    margin: 10px auto auto auto;
    text-align: center;
}

#winPopup {
    position: absolute;
    top: 10px;
    z-index: 3;
    height: 50px;
    text-align: center;
    display: none;
    font-size: 2em;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

#title {
    position: absolute;
    top: 45px;
    z-index: 3;
    height: 50px;
    text-align: center;
    display: block;
    font-size: 3em;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}